[Unit]
Description=Caddy for Unlabored Dashboard
After=network.target

[Service]
ExecStart=/usr/bin/caddy run --config /etc/caddy/Caddyfile.unlabored-dashboard
ExecReload=/usr/bin/caddy reload --config /etc/caddy/Caddyfile.unlabored-dashboard
KillMode=mixed
LimitNOFILE=1048576
LimitNPROC=512
PrivateTmp=true
ProtectSystem=full
Restart=on-failure
Type=simple
User=caddy
Group=caddy

[Install]
WantedBy=multi-user.target
