[Unit]
Description=Rotko Networks Infra dashboard
After=network.target

[Service]
User=eupneauser
Group=eupneauser
WorkingDirectory=/opt/gh/unlabored-dashboard/frontend
ExecStart=/usr/local/bin/pnpm run dev --port 6011
Restart=always
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=development
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=dashboard-dev

[Install]
WantedBy=multi-user.target
