[Unit]
Description=Eupnea prodService
After=network.target

[Service]
Type=simple
User=eupneauser
Group=eupneauser
WorkingDirectory=/opt/gh/unlabored-dashboard/backend
ExecStart=/opt/gh/unlabored-dashboard/backend/dist/eupnea.prod --port 5010
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
